<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">ePengecualian Cukai</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-exclamation-circle text-dark"> </i> </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Pengecualian Cukai
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Pendaftaran Pengecualian Cukai</h3>
                </div>
                <div class="card-body">
                    <h6 class="heading-small text-muted mb-4">Maklumat Pengguna</h6>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Nama Penuh</label>
                                <input class="form-control" placeholder="Masukkan nama penuh pengguna">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Emel</label>
                                <input class="form-control" placeholder="Masukkan emel pengguna">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">ID Pengguna</label>
                                <input class="form-control" placeholder="Masukkan id pengguna">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">No. Telefon</label>
                                <input class="form-control" placeholder="Masukkan no. telefon">
                            </div>
                        </div>
                    </div>
                    <h6 class="heading-small text-muted mb-4">Maklumat Permohonan</h6>
                    <div class="form-group">
                        <label class="form-control-label">Sebab Permohonan</label>
                        <textarea class="form-control" placeholder="Sebab permohonan"></textarea>
                    </div>
                    <div class="dropzone dropzone-single" data-toggle="dropzone" data-dropzone-url="http://">
                        <div class="fallback">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="dropzoneBasicUpload" />
                                <label class="custom-file-label" for="dropzoneBasicUpload">Pilih fail</label>
                            </div>
                        </div>
                        <div class="dz-preview dz-preview-single">
                            <div class="dz-preview-cover">
                                <img class="dz-preview-img" src="..." alt="..." data-dz-thumbnail="" />
                            </div>
                        </div>
                    </div>
                    <div class="text-right mt-2">
                        <button class="btn btn-default">Hantar</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Pendaftaran Kawalan Kes Pengecualian Cukai</h3>
                </div>
                <div class="card-body">
                    <h6 class="heading-small text-muted mb-4">Maklumat Permohonan</h6>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Nama Penuh</label>
                                <input class="form-control" placeholder="Masukkan nama penuh pengguna">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Emel</label>
                                <input class="form-control" placeholder="Masukkan emel pengguna">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">ID Pengguna</label>
                                <input class="form-control" placeholder="Masukkan id pengguna">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">No. Telefon</label>
                                <input class="form-control" placeholder="Masukkan no. telefon">
                            </div>
                        </div>
                    </div>
                    <h6 class="heading-small text-muted mb-4">Maklumat Harta</h6>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Kategori Harta</label>
                                <select class="form-control custom select">
                                    <option hidden selected>Sila pilih</option>
                                    <option>Hak Milik Sendiri</option>
                                    <option>Aset Terkumpul</option>
                                    <option>Pinjaman/Sewaan</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Anggaran Nilai (RM)</label>
                                <input class="form-control" placeholder="Masukkan anggaran nilai">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Tempoh Nilai (Tahun)</label>
                                <input class="form-control" placeholder="Masukkan tempoh nilai">
                            </div>
                        </div>
                        <div class="text-right mt-2">
                            <button class="btn btn-default">Hantar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-md-12">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Senarai Permohonan</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">ID Permohonan</th>
                                <th scope="col">Tarikh Permohonan</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">1.</th>
                                <td>1421123</td>
                                <td>12/02/2020</td>
                                <td>Diterima</td>
                            </tr>
                            <tr>
                                <th scope="row">2.</th>
                                <td>1421124</td>
                                <td>29/02/2020</td>
                                <td>Diterima</td>
                            </tr>
                            <tr>
                                <th scope="row">3.</th>
                                <td>1421124</td>
                                <td>28/02/2020</td>
                                <td>Diterima</td>
                            </tr>
                            <tr>
                                <th scope="row">4.</th>
                                <td>14211235</td>
                                <td>16/02/2020</td>
                                <td>Diterima</td>
                            </tr>
                            <tr>
                                <th scope="row">5.</th>
                                <td>1421126</td>
                                <td>14/02/2020</td>
                                <td>Ditolak</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Sejarah Permohonan</h3>
                </div>
                <div class="card-body">
                    <div class="timeline timeline-one-side" data-timeline-axis-style="dashed"
                        data-timeline-content="axis">
                        <div class="timeline-block">
                            <span class="timeline-step badge-success">
                                <i class="fas fa-info"> </i>
                            </span>

                            <div class="timeline-content">
                                <div class="d-flex justify-content-between pt-1">
                                    <div>
                                        <span class=" text-muted text-sm font-weight-bold">
                                            Aktiviti
                                        </span>
                                    </div>

                                    <div class="text-right">
                                        <small class="text-muted">
                                            <i class="fas fa-clock mr-1"> </i> 9.00 pagi
                                        </small>
                                    </div>
                                </div>

                                <h6 class="text-sm mt-1 mb-0">
                                    Deskripsi aktiviti
                                </h6>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <span class="timeline-step badge-danger">
                                <i class="fas fa-info"> </i>
                            </span>

                            <div class="timeline-content">
                                <div class="d-flex justify-content-between pt-1">
                                    <div>
                                        <span class="text-muted text-sm font-weight-bold">
                                            Aktiviti 1
                                        </span>
                                    </div>

                                    <div class="text-right">
                                        <small class="text-muted">
                                            <i class="fas fa-clock mr-1"> </i> 9.10 pagi
                                        </small>
                                    </div>
                                </div>

                                <h6 class="text-sm mt-1 mb-0">
                                    Deskripsi aktiviti
                                </h6>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <span class="timeline-step badge-info">
                                <i class="fas fa-info"> </i>
                            </span>

                            <div class="timeline-content">
                                <div class="d-flex justify-content-between pt-1">
                                    <div>
                                        <span class="text-muted text-sm font-weight-bold">
                                            Aktiviti
                                        </span>
                                    </div>

                                    <div class="text-right">
                                        <small class="text-muted">
                                            <i class="fas fa-clock mr-1"> </i> 9.20 pagi
                                        </small>
                                    </div>
                                </div>

                                <h6 class="text-sm mt-1 mb-0">
                                    Deskripsi aktiviti
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>