<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Sistem Maklumat Ukur & Periksa</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-chart-bar text-dark"> </i> </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Sistem Maklumat Ukur & Periksa
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Agihan Kerja Kemasukan Data</h3>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="amchart" id="psischartdiv"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Senarai Data</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Tajuk</th>
                                <th scope="col">ID</th>
                                <th scope="col">Kategori Data</th>
                                <th scope="col">Tarikh</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <td>Data #1</td>
                                <td>9132494</td>
                                <td>Penilaian Semasa</td>
                                <td>19/01/2020</td>
                            </tr>
                            <tr>
                                <td>Data #2</td>
                                <td>9132494</td>
                                <td>Penilaian Semasa</td>
                                <td>19/01/2020</td>
                            </tr>
                            <tr>
                                <td>Data #3</td>
                                <td>9132494</td>
                                <td>Kadar Harta</td>
                                <td>25/01/2020</td>
                            </tr>
                            <tr>
                                <td>Data #4</td>
                                <td>9132496</td>
                                <td>Pengumpulan Data</td>
                                <td>19/01/2020</td>
                            </tr>
                            <tr>
                                <td>Data #5</td>
                                <td>9132499</td>
                                <td>Kadar Harta</td>
                                <td>26/01/2020</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>